[Unit]
Description=Wildfly Domain Startup Script
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile={{WILDFLY_HOME}}/bin/domain/wildfly.conf
ExecStart={{ADMIN_HOME}}/scripts/wildfly-init.sh start
ExecStop={{ADMIN_HOME}}/scripts/wildfly-init.sh stop
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
