[Unit]
Description=Wildfly Standalone Startup Script
After=syslog.target network.target

[Service]
Type=oneshot
EnvironmentFile={{WILDFLY_HOME}}/conf/%I/wildfly.conf
ExecStart={{WILDFLY_HOME}}/conf/scripts/wildfly-init.sh start
ExecStop={{WILDFLY_HOME}}/conf/scripts/wildfly-init.sh stop
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
